<ouc:editor wysiwyg="no"/>
<li style="font-size: 14.5px; margin-bottom: 12px; padding-left: 9px;">
    <a href="#">Future Students</a>
</li>
<li style="font-size: 14.5px; margin-bottom: 12px; padding-left: 9px;">
    <a href="#">Life in Fayetteville</a>
</li>
<li style="font-size: 14.5px; margin-bottom: 12px; padding-left: 9px;">
    <a href="#">About Walton College</a>
</li>
<li style="font-size: 14.5px; margin-bottom: 12px; padding-left: 9px;">
    <a href="#">Invest In Walton</a>
</li>