<ouc:editor wysiwyg="no"/>

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav" id="mainnav">
        
        <li>
            <a href="#">Future Students</a>
            
            <ul>
                <li>
                    <a href="#">Apply Now</a>
                </li>
                
                
                <li>
                    <a href="#">Take a Virtual Tour</a>
                </li>
                
                
                <li>
                    <a href="#">Schedule a Visit</a>
                </li>
                
                
                <li>
                    <a href="#">Funding Your Education</a>
                </li>
                
                
                <li>
                    <a href="#">Request Information</a>
                </li>
            </ul>
        </li>
        
        
        <li>
            <a href="#">Current Students</a>
            
            <ul>
                <li>
                    <a href="#">Majors</a>
                </li>
                
                
                <li>
                    <a href="#">Online Programs</a>
                </li>
                
                
                <li>
                    <a href="#">Colleges &amp; Schools</a>
                </li>
                
                
                <li>
                    <a href="#">Schedule of Classes</a>
                </li>
                
                
                <li>
                    <a href="#">Academic Support</a>
                </li>
                
                
                <li>
                    <a href="#">Libraries</a>
                </li>
            </ul>
        </li>
        
        
        <li>
            <a href="#">Academics</a>
            
            <ul>
                <li>
                    <a href="#">Things to do</a>
                </li>
                
                
                <li>
                    <a href="#">Get Involved</a>
                </li>
                
                
                <li>
                    <a href="#">Health &amp; Recreation</a>
                </li>
                
                
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </li>
        
        
        <li>
            <a href="#">Research &amp; Outreach</a>
            
            <ul>
                <li>
                    <a href="#">Resources</a>
                </li>
                
                
                <li>
                    <a href="#">Publications &amp; Video</a>
                </li>
                
                
                <li>
                    <a href="#">Research and Economic Development</a>
                </li>
            </ul>
        </li>
        
        
        <li>
            <a href="#">Supporters</a>
            
            <ul>
                <li>
                    <a href="#">Visitor's Guide</a>
                </li>
                
                
                <li>
                    <a href="#">Quick Facts</a>
                </li>
                
                
                <li>
                    <a href="#">History</a>
                </li>
                
                
                <li>
                    <a href="#">Administration</a>
                </li>
                
                
                <li>
                    <a href="#">Employment</a>
                </li>
                
                
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </li>
        
    </ul>
</div>

